* {box-sizing: border-box}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial;
}


table.map {
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	table-layout: fixed;
}
td.map {
	height: 20px;
	font: 12px;
}
td.square {
	border: 1px solid #ccc;
	text-align: center;
	padding: 2px;
}
td.room {
	text-align: center;
	padding: 3px;
}
td.passage {
	border: 3px solid #008500;
	color: white;
	text-align: center;
	padding: 2px;
}
td.wall {
	background-color: black;
}



table.notes {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
.border{
	background-color: #555;
	width: 100%;
	height: 10px;
}
div {
	width: 100%;
}
.hide {
	display: none;
}
td.notes {
	border: 1px solid #ccc;
	text-align: left;
}
th.notes {
	border: 1px solid #ccc;
	font-weight: 300;
}
td.data {
	background-color: #aaa;
	text-align: center;
	width: auto;
}
td.multiple-tag {
	color: blue;
}
td.single-tag {
	color: red;
}
td.data-pressed {
	box-shadow: inset 0 0 0 2px #4650e8;
}
td.data-3 {
	background-color: white;
	background: url(eye-solid.svg) no-repeat;
	background-size: 18px 18px;
	background-position: center center;
}
td.data-1 {
	background-color: black;
	color: white;
}
td.data-0 {
	background-color: white;
}
td.title {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	width: 133px;
}
td.title-0 {
	color: red;
}
td.title-1 {
	text-decoration: line-through;
}
td.weapon {
	background-color: #dedede;
}


/*
TABS
*/
a.tab {
	float: left;
	border: none;
	outline: none;
	text-align: center;
	display: block;
}

.tab.main-bottom {
	padding: 16px;
	color: white;
	background-color: #555;
}


.tab.main {
	padding: 16px;
	color: white;
	background-color: #555;
	width: 50%;
}
.tab.main.active-tab {
	background-color: #777;
}


.tab.status {
	background-color: #aaa;
	width: 25%;
	height: 50px;
	padding: 8px;
}
.tab.status.active-tab {
	background-color: #82d196;
}


.tab.tag {
	padding: 16px;
	background-color: #aaa;
}
.tab.tag.active-tab {
	background-color: #9CC5DA;
}


.tab.showplayer {
	width: 33.3333%;
	padding: 16px;
	background-color: #aaa;
}
.tab.showplayer.active-tab {
	background-color: #82d196;
}


.tab.showcard {
	width: 100%;
	padding: 16px;
	background-color: #aaa;
}
.tab.showcard.active-tab {
	background-color: #82d196;
}

/*
MISC
*/

.player-button {
	
}
.input-title {
	width: 100%;
	text-align: center;
	float: left;
	border: none;
	outline: none;
	padding: 16px;
	display: block;
}
.half {
	width: 50%;
}
.full {
	width: 100%;
}


/*
SINGLE USE
*/

.fixed-header {
	position: sticky;
	top: 0;
}
.guess {
	float: left;
	border: none;
	outline: none;
	text-align: center;
	display: none;
	padding: 16px;
	color: red;
	width: 100%;
	background-color: #555;
}
.light {
	background-color: #aaa;
}
.submit {
	padding: 16px;
	width: 100%;
	position: fixed;
	background-color: #aaa;
	bottom: 0;
}
/*.bottom-tab-container {
	position: fixed;
	bottom: 0;
}*/
.blank {
	display: block;
	float: left;
	height: 50px;
}





.status-none {
	padding: 8px;
}
.status-unknown {
	background-color: #ccc;
	padding: 8px;
}
.status-yes {
	color: white;
	background-color: black;
	padding: 8px;
}
.status-no {
	background-color: white;
	padding: 8px;
}
.status-seen {
	background-color: white;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}
.status-color {
	background-color: #82d196;
}
.add-color {
	background-color: #9CC5DA;
}


mark {
	padding: 2px;
	color: black;
}


.confirm {
	padding: 20px;
	background-color: #aaa;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cancel {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 16px;
	background-color: #aaa;
}



/*.show-title {
	background-color: #aaa;
	width: 100%;
}*/
.offscreen{
	position: fixed;
	top: -100px;
	width: 100%;
}
.loading-div {
	position: absolute;
	text-align: center;
	font-size: 20px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}


/*
CONTAINERS
*/


.loading-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #777;
	color: white;
}
.page-container {
	position: relative;
	background-color: white;
	opacity: 0;
	transition: 0.4s ease;
}
.confirm-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.bottom-tab-container {
	position: fixed;
	bottom: 0;
}