* {box-sizing: border-box}
body, html {
	width: 100%;
	height: 100%;
	margin: 0;
	font-family: Arial;
}
.div{
	width: 100%;
}

table.map {
	border-collapse: collapse;
	width: 100%;
	font-size: 14px;
	table-layout: fixed;
}
td.map {
	height: 20px;
	font: 12px;
	background-color: white;
}
td.square {
	border: 1px solid #ccc;
	text-align: center;
	padding: 2px;
}
div.room {
	position: absolute;
	z-index: 10;
	top: 0;
	left: 0;
	text-align: center;
	display: flex;
    align-items: center;
    justify-content: center;
	padding: 4px;
	background-color: white;
}
td.room-square {
	height: 20px;
	position: relative;
}
td.passage {
	border: 3px solid #008500;
	text-align: center;
	padding: 2px;
}
td.wall {
	background-color: #777;
}



table.chart {
	border-collapse: collapse;
	width: 100%;
	table-layout: fixed;
}
.border{
	background-color: #555;
	width: 100%;
	height: 10px;
}
.hide {
	display: none;
}
td.chart {
	border: 1px solid #ccc;
	text-align: left;
}
th.chart {
	border: 1px solid #ccc;
	font-weight: 300;
	padding-top: 3px;
	padding-bottom: 3px;
}
td.data {
	background-color: #aaa;
	text-align: center;
	width: auto;
	transition: background-color, 1s;
}
td.tag-highlight {
	color: blue;
}
tr.row-highlight {
	outline: 1.5px solid blue;
	outline-offset: -1.5px;
}
td.status-3 {
	transition: background-color, 0s;
	background-color: white;
	background: url(eye-solid.svg) no-repeat;
	background-size: 18px 18px;
	background-position: center center;
}
td.status-1 {
	background-color: black;
	color: white;
}
td.status-0 {
	background-color: white;
}
td.title {
	padding-top: 4px;
	padding-bottom: 4px;
	padding-left: 10px;
	width: 133px;
}
td.title-0 {
	color: red;
}
td.title-1 {
	text-decoration: line-through;
}
td.title-ask-selected {
	outline: 2px solid blue;
	outline-offset: -1px;
}
td.title-guess-selected {
	outline: 2px solid red;
	outline-offset: -1px;
}
td.weapon {
	background-color: #dedede;
}


/*
TABS
*/
a.tab {
	float: left;
	border: none;
	outline: none;
	text-align: center;
	display: block;
}

.tab.main {
	padding: 16px;
	color: white;
	background-color: #555;
	width: 25%;
}
.tab.main.active-tab {
	background-color: #777;
}
.tab.log {
	padding: 16px;
	color: white;
	background-color: #555;
	width: 25%;
}
.tab.log.active-tab {
	background-color: #777;
}
.tab.toggle {
	padding: 16px;
	color: white;
	background-color: #555;
	width: 50%;
}
.tab.toggle.active-tab {
	background-color: #777;
}

/*
MISC
*/

.bottom-button {
	background-color: #555;
	color: white;
	padding: 16px;
	border-radius: 14px;
	text-align: center;
}
.bottom-button-container {
	position: sticky;
	z-index: 12;
	padding: 12px;
	bottom: 0;
	left: 0;
	width: 100%;

}
.input-title {
	width: 100%;
	text-align: center;
	float: left;
	border: none;
	outline: none;
	padding: 16px;
	display: block;
}
.half {
	width: 50%;
}
.full {
	width: 100%;
}


/*
SINGLE USE
*/

.guess {
	float: left;
	border: none;
	outline: none;
	text-align: center;
	display: none;
	padding: 16px;
	color: red;
	width: 100%;
	background-color: #555;
}
.light {
	background-color: #aaa;
}
.submit {
	padding: 16px;
	width: 100%;
	position: fixed;
	background-color: #aaa;
	bottom: 0;
}





mark {
	padding-left: 2px;
	padding-right: 2px;
	color: black;
}


.confirm {
	padding: 16px;
	background-color: #aaa;
	border-radius: 3px;
	position: absolute;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
.cancel {
	position: fixed;
	top: 0;
	width: 100%;
	padding: 16px;
	background-color: #aaa;
}



.offscreen{
	position: fixed;
	top: -100px;
	width: 100%;
}
.loading-div {
	width: 250px;
	position: absolute;
	text-align: center;
	font-size: 20px;
	top: 50%;
	left: 50%;
	-ms-transform: translate(-50%, -50%);
	transform: translate(-50%, -50%);
}
textarea.notes-text-field:focus {
	outline: none;
}
textarea.notes-text-field {
	font-family: Arial;
	font-size: 16px;

    overflow: auto;
    outline: none;

    -webkit-box-shadow: none;
    -moz-box-shadow: none;
    box-shadow: none;

    width: 100%;

    resize: none;
	border: 1px solid #ccc;
	border-radius: 4px;
	box-sizing: border-box;
	padding: 10px;
	overflow: scroll;
	display: flex;
	flex: 1;
	flex-direction: column;
}
.save-button{
	margin-top: 10px;
}
.save-button-disabled{
	color: #777;
}
.notes-flex-container{
	display: flex;
	padding: 10px;
	flex-direction: column;
	height: 100%;
}

.log-display-container {
	margin: 5px;
}
.log-element{
	padding: 10px;
	background-color: white;
	border: 2px solid #555;
	border-radius: 2px;
	margin: 2px;
}


/*
CONTAINERS
*/
.sticky-container {
	position: sticky;
	top: 0;
	z-index: 12;
}
.log-window {
	background-color: white;
	padding: 10px;
	height: 62px;
	margin-bottom: 1px;
	overflow: scroll;
	border: 2px solid #555;
	border-radius: 8px;
}



.loading-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: #777;
	color: white;
}
.page-container {
	position: relative;
	display: flex;
	flex-direction: column;
	background-color: white;
	opacity: 0;
	transition: opacity 0.4s ease;
}
.confirm-container {
	position: fixed;
	top: 0;
	width: 100%;
	height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
}
.notes-container{
	background-color: #777;
	flex-flow: column;
	flex: 1 1 auto;
}
.map-container{
	height: 100%;
}


.current-player{
	padding: 16px;
	display: none;
}
.player-link-container{
	display: none;
}
.player-link{
	margin-top: 16px;
	margin-bottom: 16px;
	padding: 16px;
	width: ;
	text-align: center;
	display: block;
	background-color: #555;
	color: white;
	border-radius: 14px;
	text-decoration: none;
}